#coordinates.wrap {
    position: absolute;
    top: 8px;
    left: 160px;
    font-size: 18px;
}
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
#map-canvas {
    height: 100%;
    width: 75%;
}
#info.wrap {
    position: absolute;
    top: 4%;
    left: 76%;
    font-size: 18px;
}
#distance.wrap {
    position: absolute;
    top: 7%;
    left: 76%;
    font-size: 18px;
}
#timetables.wrap {
    position: absolute;
    top: 10%;
    left: 76%;
    font-size: 18px;
}
#help.wrap {
    position: absolute;
    top: 1%;
    left: 76%;
    font-size: 18px;
}
#previous.wrap {
    position: absolute;
    top: 19%;
    left: 76%;
    width: 9.6%;
    font-size: 110%;
}
#next.wrap {
    position: absolute;
    top: 19%;
    left: 86%;
    width: 9.6%;
    font-size: 110%;
}
#closest.wrap {
    position: absolute;
    top: 24%;
    left: 76%;
    width: 9.6%;
    font-size: 110%;
}
#furthest.wrap {
    position: absolute;
    top: 24%;
    left: 86%;
    width: 9.6%;
    font-size: 100%;
}
#description.wrap {
    position: absolute;
    bottom: 1%;
    left: 76%;
    font-size: 10px;
}

#bustimes.wrap {
    position: absolute;
    top: 38%;
    left: 76%;
    font-size: 14px;
}
#arrivals.wrap {
    position: absolute;
    top: 34%;
    left: 76%;
    font-size: 18px;
}
#addressinput.wrap {
    position: absolute;
    top: 29%;
    left: 76%;
    font-size: 18px;
}
#origin.wrap {
    position: absolute;
    top: 24%;
    left: 76%;
    font-size: 18px;
}
#search.wrap {
    position: absolute;
    top: 29%;
    left: 94.5%;
    width: 5%;
    height: 4.5%;
    font-size: 110%;
}